API__API_PORT={{ api_port }}
API__PAGINATION__PAGE_SIZE={{ api_page_size }}
DB__DB_URI={{ db_uri }}
SEED__USERS__COUNT={{ seed_users_count }}
API__CORS__ALLOWED_HOST_JSON={{ api_cors_json | replace("'", '"') }}
