server {
    listen 80;
    server_name {{ nginx_proxy_app_domain }};

    location / {
        proxy_pass http://{{ nginx_proxy_app_upstream_host }}:{{ nginx_proxy_app_upstream_port }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}
